In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install lxml

Collecting lxml
  Downloading lxml-5.2.1-cp310-cp310-manylinux_2_28_x86_64.whl (5.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 15.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-5.2.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas
import lxml

In [5]:
df_01 = pandas.read_csv("country_full.csv")

In [6]:
df_01.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [7]:
df_01.head(10)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
5,Andorra,AD,AND,20,ISO 3166-2:AD,Europe,Southern Europe,NaN,150.0,39.0,NaN
6,Angola,AO,AGO,24,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0
7,Anguilla,AI,AIA,660,ISO 3166-2:AI,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
8,Antarctica,AQ,ATA,10,ISO 3166-2:AQ,NaN,NaN,NaN,NaN,NaN,NaN
9,Antigua and Barbuda,AG,ATG,28,ISO 3166-2:AG,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0

In [8]:
df_01.tail()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [9]:
df_01.tail(10)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
239,Vanuatu,VU,VUT,548,ISO 3166-2:VU,Oceania,Melanesia,NaN,9.0,54.0,NaN
240,Venezuela (Bolivarian Republic of),VE,VEN,862,ISO 3166-2:VE,Americas,Latin America and the Caribbean,South America,19.0,419.0,5.0
241,Viet Nam,VN,VNM,704,ISO 3166-2:VN,Asia,South-eastern Asia,NaN,142.0,35.0,NaN
242,Virgin Islands (British),VG,VGB,92,ISO 3166-2:VG,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
243,Virgin Islands (U.S.),VI,VIR,850,ISO 3166-2:VI,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [10]:
df_01.columns

Index(['name', 'alpha-2', 'alpha-3', 'country-code', 'iso_3166-2', 'region',
       'sub-region', 'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code'],
      dtype='object')

In [11]:
list_01 = df_01.columns

In [12]:
for i in list_01 :
    print(i)

name
alpha-2
alpha-3
country-code
iso_3166-2
region
sub-region
intermediate-region
region-code
sub-region-code
intermediate-region-code

In [13]:
df_01.dtypes

name                         object
alpha-2                      object
alpha-3                      object
country-code                  int64
iso_3166-2                   object
region                       object
sub-region                   object
intermediate-region          object
region-code                 float64
sub-region-code             float64
intermediate-region-code    float64
dtype: object

In [14]:
type(df_01)

pandas.core.frame.DataFrame

In [15]:
df_01['country-code']

0        4
1      248
2        8
3       12
4       16
      ...
244    876
245    732
246    887
247    894
248    716
Name: country-code, Length: 249, dtype: int64

In [16]:
df_01[['country-code', 'region', 'sub-region']]

     country-code   region          sub-region
0               4     Asia       Southern Asia
1             248   Europe     Northern Europe
2               8   Europe     Southern Europe
3              12   Africa     Northern Africa
4              16  Oceania           Polynesia
..            ...      ...                 ...
244           876  Oceania           Polynesia
245           732   Africa     Northern Africa
246           887     Asia        Western Asia
247           894   Africa  Sub-Saharan Africa
248           716   Africa  Sub-Saharan Africa

[249 rows x 3 columns]

In [17]:
type(df_01['country-code'])

pandas.core.series.Series

In [18]:
list_02 = list(df_01['country-code'])

In [19]:
for i in list_02 :
    print(i)

4
248
8
12
16
20
24
660
10
28
32
51
533
36
40
31
44
48
50
52
112
56
84
204
60
64
68
535
70
72
74
76
86
96
100
854
108
132
116
120
124
136
140
148
152
156
162
166
170
174
178
180
184
188
384
191
192
531
196
203
208
262
212
214
218
818
222
226
232
233
748
231
238
234
242
246
250
254
258
260
266
270
268
276
288
292
300
304
308
312
316
320
831
324
624
328
332
334
336
340
344
348
352
356
360
364
368
372
833
376
380
388
392
832
400
398
404
296
408
410
414
417
418
428
422
426
430
434
438
440
442
446
807
450
454
458
462
466
470
584
474
478
480
175
484
583
498
492
496
499
500
504
508
104
516
520
524
528
540
554
558
562
566
570
574
580
578
512
586
585
275
591
598
600
604
608
612
616
620
630
634
638
642
643
646
652
654
659
662
663
666
670
882
674
678
682
686
688
690
694
702
534
703
705
90
706
710
239
728
724
144
729
740
744
752
756
760
158
762
834
764
626
768
772
776
780
788
792
795
796
798
800
804
784
826
840
581
858
860
548
862
704
92
850
876
732
887
894
716